@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// _base.scss
$font-stack: 'Roboto', sans-serif;
$primary-color: #333;
$primary-background: #4ae2f1;



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-stack;
    color: $primary-color;
    background-color: $primary-background;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
